# Python:
!/CaptchaGenerate/data/bg/*

.vscode
*.py[cod]
*.so
*.egg
*.egg-info
*.jpg
*.png
*.tar
dist
build
*ceshi.py
AdversarialCaptcha
IdentifiNetwork


!CaptchaGenerate/data/bg/*/*.jpg
!CaptchaGenerate/data/bg/*/*.png
